/* styles.css */

/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 1;
    padding: 2rem;
    margin-top: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.card h2 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1rem;
}

.button {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.button:hover {
    background-color: #45a049;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form input,
.form textarea,
.form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 1rem); /* Ajustar el tamaño del contenedor */
    box-sizing: border-box;
}

.form textarea {
    resize: vertical;
}

.profile-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.profile-info, .profile-events {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.profile-events ul {
    list-style-type: none;
    padding: 0;
}

.profile-events ul li {
    margin-bottom: 0.5rem;
}

/* Diseño responsivo */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    header, footer {
        text-align: center;
    }
}
